<div class="task">

  <div class="header">
    <div>
      {{task.title}}
    </div>
  </div>

  <hr>

  <div class="body">
    {{task.description}}
  </div>


  <!-- [value] sets selects startvalue equal to the tasks status witch is updated with the task -->
  <select id="status-type" name="selectedStatusType" #selectedStatusType (change)="handleStatusChanged(selectedStatusType.value)"
    [value]="task.status">


    <option *ngFor="let st of utilityService.getStatusTypes()">
      {{st}}
    </option>


  </select>


</div>